<?xml version='1.0' encoding='windows-1252'?>
<?define ProductUpgradeCode = "32318521-631C-4064-88C6-4A54FAA3B383"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='DigitalScratch' Id='*' UpgradeCode='$(var.ProductUpgradeCode)'
    Language='1033' Codepage='1252' Version='$(var.ProductVersion)' Manufacturer='DigitalScratch team'>

    <Package Id='*' Keywords='Installer' Description="DigitalScratch Installer"
      Comments='DigitalScratch is a vinyl emulation software' Manufacturer='DigitalScratch team'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='digitalscratch.cab' EmbedCab='yes' />
    
    <Property Id="UPGRADE" Value="Yes" />
    
    <Upgrade Id='$(var.ProductUpgradeCode)'>
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Property="NEWERVERSIONDETECTED"/>
      <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="yes" Property="OLDERVERSIONBEINGUPGRADED"/>	  
    </Upgrade>
    
    <Property Id="BannerBitmap">bannrbmp</Property>
    <Binary Id="bannrbmp" SourceFile="top_banner.bmp" />        
    
    <Icon Id="digitalscratchIcon.exe" SourceFile="digitalscratch.exe" />
    <Property Id="ARPPRODUCTICON" Value="digitalscratchIcon.exe"/>
    <Property Id="ARPHELPLINK" Value="http://www.digital-scratch.org"/>
    <Property Id="ARPURLINFOABOUT" Value="http://www.digital-scratch.org"/>
    <Property Id="ARPNOREPAIR" Value="1"/>

    <Directory Id='TARGETDIR' Name='SourceDir'>
    
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='DigitalScratch $(var.ProductVersion)'>
          <Component Id='MainExecutable' Guid='*'>
            <File Id='digitalscratchEXE' Name='digitalscratch.exe' DiskId='1' Source='digitalscratch.exe' KeyPath='yes'>
              <Shortcut Id="startmenuDigitalScratch" Directory="ProgramMenuDir" Name="DigitalScratch $(var.ProductVersion)" WorkingDirectory='INSTALLDIR' Icon="digitalscratchIcon.exe" IconIndex="0" Advertise="yes" />
              <Shortcut Id="desktopDigitalScratch" Directory="DesktopFolder" Name="DigitalScratch $(var.ProductVersion)" WorkingDirectory='INSTALLDIR' Icon="digitalscratchIcon.exe" IconIndex="0" Advertise="yes" />
            </File>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="DigitalScratch">
          <Component Id="ProgramMenuDir" Guid='*'>
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\[ProductVersion]">
              <RegistryValue Id='InstallPath' Action='write' Name='InstallPath' Type='string' Value='[INSTALLDIR]'/>
            </RegistryKey>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
      
    </Directory>
    
    <InstallExecuteSequence>
        <RemoveExistingProducts After="InstallInitialize">UPGRADE="Yes"</RemoveExistingProducts>
    </InstallExecuteSequence>

    <Feature Id='Complete' Title='DigitalScratch' Description='The complete package.' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
        <ComponentRef Id='MainExecutable' />
        <ComponentGroupRef Id='digitalscratchCG' />
        <ComponentRef Id='ProgramMenuDir' />
    </Feature>    

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="gpl_license.rtf" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>
