# Compiled source #
###################
debug/
release/
*.o
*.so
*.so.*
digitalscratch
digitalscratch-test
libdigitalscratch-test
!digitalscratch/
*-Debug/
*-Release/
*.pdb
moc_*
digitalscratch/test/data/playlist.m3u
digitalscratch/test/data/playlist.pls
libdigitalscratch/digitalscratch_resource.rc

# Qt user project #
###################
*.pro.user
*.pro.user.*

# Makefiles       #
###################
Makefile*

# Edited backup files #
#######################
*~
