# Compiled source #
###################
debug/
release/
*.o
*.so
*.so.*
digitalscratch
!digitalscratch/
*-Debug/
*-Release/
*.pdb

# Qt user project #
###################
*.pro.user

# Makefiles       #
###################
Makefile*

# Edited backup files #
#######################
*~
