*
{
   color:            #f2f2ed;
   background-color: black;
   font:             8pt;
}

QLabel
{
   background: transparent;
}

QPushButton
{
   color:            #bfbbbf;
   border:           2px solid gray;
   border-radius:    5px;
   padding:          5px;
   background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #737373, stop: 1 black);
}
QPushButton QToolTip
{
   background-color: black;
   border: 1px solid orange;
}
QPushButton:hover
{
   color:            #bfbbbf;
   background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 black, stop: 1 #737373);
}
QPushButton:pressed
{
   color:            black;
   background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #737373, stop: 1 #b2b2b2);
}

QPushButton#Logo
{
   border:           0px;
   background-color: transparent;
}
QPushButton#Logo:hover
{
   border:           1px solid orange;
   border-radius:    13px;
}
QPushButton#Logo:pressed
{
   background-color: lightGray;
}

QPushButton#Configuration_button
{
   color:            black;
   background-color: gray;
   padding:          5px;
   border:           none;
   border-radius:    0px;
   image:            url(:/pixmaps/dark-settings.png);
   image-position:   left;
   height:           25px;
   min-width:        100px;
}
QPushButton#Configuration_button:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-settings_white.png);
}
QPushButton#Configuration_button:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-settings.png);
}

QPushButton#Fullscreen_button
{
   color:            black;
   background-color: gray;
   padding:          5px;
   border:           none;
   border-radius:    0px;
   image:            url(:/pixmaps/dark-fullscreen.png);
   image-position:   left;
   height:           25px;
   min-width:        100px;
}
QPushButton#Fullscreen_button:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-fullscreen_white.png);
}
QPushButton#Fullscreen_button:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-fullscreen.png);
}

QPushButton#Help_button
{
   color:            black;
   background-color: gray;
   padding:          5px;
   border:           none;
   border-radius:    0px;
   image:            url(:/pixmaps/dark-help.png);
   image-position:   left;
   height:           25px;
   min-width:        100px;
}
QPushButton#Help_button:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-help_white.png);
}
QPushButton#Help_button:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-help.png);
}

QPushButton#Quit_button
{
   color:            black;
   background-color: gray;
   padding:          5px;
   border:           none;
   border-radius:    0px;
   image:            url(:/pixmaps/dark-exit.png);
   image-position:   left;
   height:           25px;
   min-width:        100px;
}
QPushButton#Quit_button:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-exit_white.png);
}
QPushButton#Quit_button:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-exit.png);
}

QGroupBox
{
   border:        2px solid gray;
   border-radius: 5px;
   border-color:  #a6a2a6;
   margin-top:    1ex;
   font-weight:   bold;
   background:    transparent;
}
PlaybackQGroupBox#DeckGBox[selected="true"]
{
   background:    qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #595959, stop: 1 #333333);
}
PlaybackQGroupBox#SamplerGBox[selected="true"]
{
   background:    qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #333333, stop: 1 #262626);
}
PlaybackQGroupBox[selected="false"]
{
   background:    transparent;
}
PlaybackQGroupBox#DeckGBox[hover="true"]
{
   border:    2px solid orange;
}
PlaybackQGroupBox#SamplerGBox[hover="true"]
{
   border:    2px solid orange;
}
PlaybackQGroupBox[hover="false"]
{
   border:    2px solid gray;
}

QGroupBox::title
{
   color:               #bfbbbf;
   subcontrol-origin:   margin;
   subcontrol-position: top center;
   padding:             0 3px;
}

QTreeView
{
   border:        none;
   padding:       2px;
}
QTreeView::item:selected{
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6ea1f1, stop: 1 #567dbc);
}
QTreeView::branch {
   background-color: black;
}
QTreeView::branch:has-siblings:!adjoins-item {
   border-image: url(:/pixmaps/dark-branch_vline.png) 0;
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
   image: url(:/pixmaps/dark-branch_closed.png);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
   image: url(:/pixmaps/dark-branch_open.png);
}
QHeaderView::section {
   background-color: gray;
   color:            black;
   padding-left:     4px;
   border:           1px solid #6c6c6c;
}

QLabel#TrackName
{
   font:        9pt;
   font-weight: bold;
}
QLabel#RemainingTime
{
   font:        12pt;
   font-weight: bold;
}
QLabel#RemainingTimeMsec
{
   font: 9pt;
}
QLabel#Volume
{
   font: 6pt;
}
QLabel#Speed
{
   font: 6pt;
}
QLabel#KeyValue
{
   font: 9pt;
}

QTabBar::tab
{
   background:              black;
   border:                  2px solid gray;
   padding:                 5px;
   border-top-left-radius:  1px;
   border-top-right-radius: 1px;
}
QTabBar::tab:selected
{
   background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #737373, stop: 1 black);
}
QTabWidget::pane
{
   border: 2px solid gray;
}
QComboBox
{
   border:        1px solid gray;
   border-radius: 1px;
   padding:       2px;
}
QLineEdit
{
   border:        1px solid gray;
   border-radius: 1px;
}
ShortcutQLabel
{
   padding:       2px;
   border:        1px solid gray;
   border-radius: 1px;
}
ShortcutQLabel:hover
{
   border: 2px solid gray;
}
QSlider::groove:horizontal {
   border:     1px solid gray;
   height:     1px;
   background: black;
}
QSlider::handle:horizontal {
   background:    qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #737373, stop: 1 black);
   border:        1px solid gray;
   width:         10px;
   margin:        -9px 0;
   border-radius: 2px;
}

QGroupBox#Help
{
   border:           none;
   border-radius:    0px;
   background-color: gray;
}
QLabel#Help
{
   color: black;
}
QLabel#Help_title
{
   color:       black;
   font-weight: bold;
}
QLabel#Help_url
{
   background: DarkSlateGray;
   padding:    2px;
}

QPushButton#Sampler_play_buttons
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          3px;
   image:            url(:/pixmaps/dark-play.png);
}
QPushButton#Sampler_play_buttons:hover
{
   background-color: lightGray;
   border:           1px solid orange;
}
QPushButton#Sampler_play_buttons:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-play_white.png);
}
QPushButton#Sampler_stop_buttons
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          3px;
   image:            url(:/pixmaps/dark-stop.png);
}
QPushButton#Sampler_stop_buttons:hover
{
   background-color: lightGray;
   border:           1px solid orange;
}
QPushButton#Sampler_stop_buttons:checked
{
   background-color: gray;
   border:           1px solid orange;
}

QPushButton#Refresh_browser_button
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          4px;
   image:            url(:/pixmaps/dark-file_browser_update.png);
}
QPushButton#Refresh_browser_button:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-file_browser_update_white.png);
}
QPushButton#Refresh_browser_button:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-file_browser_update.png);
}
QPushButton#Refresh_browser_button:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-file_browser_update_white.png);
}

QPushButton#Load_track_button_1
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          4px;
   image:            url(:/pixmaps/dark-load_file_1.png);
}
QPushButton#Load_track_button_1:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-load_file_white_1.png);
}
QPushButton#Load_track_button_1:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-load_file_1.png);
}
QPushButton#Load_track_button_1:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-load_file_white_1.png);
}

QPushButton#Show_next_key_button
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          4px;
   image:            url(:/pixmaps/dark-show_next_key.png);
}
QPushButton#Show_next_key_button:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-show_next_key_white.png);
}
QPushButton#Show_next_key_button:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-show_next_key.png);
}
QPushButton#Show_next_key_button:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-show_next_key_white.png);
}

QPushButton#Load_track_button_2
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          4px;
   image:            url(:/pixmaps/dark-load_file_2.png);
}
QPushButton#Load_track_button_2:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-load_file_white_2.png);
}
QPushButton#Load_track_button_2:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-load_file_2.png);
}
QPushButton#Load_track_button_2:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-load_file_white_2.png);
}

QPushButton#Load_track_sample_button_a
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          4px;
   image:            url(:/pixmaps/dark-load_sample_a.png);
}
QPushButton#Load_track_sample_button_a:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-load_sample_white_a.png);
}
QPushButton#Load_track_sample_button_a:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-load_sample_a.png);
}
QPushButton#Load_track_sample_button_a:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-load_sample_white_a.png);
}

QPushButton#Load_track_sample_button_b
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          4px;
   image:            url(:/pixmaps/dark-load_sample_b.png);
}
QPushButton#Load_track_sample_button_b:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-load_sample_white_b.png);
}
QPushButton#Load_track_sample_button_b:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-load_sample_b.png);
}
QPushButton#Load_track_sample_button_b:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-load_sample_white_b.png);
}

QPushButton#Load_track_sample_button_c
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          4px;
   image:            url(:/pixmaps/dark-load_sample_c.png);
}
QPushButton#Load_track_sample_button_c:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-load_sample_white_c.png);
}
QPushButton#Load_track_sample_button_c:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-load_sample_c.png);
}
QPushButton#Load_track_sample_button_c:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-load_sample_white_c.png);
}

QPushButton#Load_track_sample_button_d
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          4px;
   image:            url(:/pixmaps/dark-load_sample_d.png);
}
QPushButton#Load_track_sample_button_d:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-load_sample_white_d.png);
}
QPushButton#Load_track_sample_button_d:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-load_sample_d.png);
}
QPushButton#Load_track_sample_button_d:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-load_sample_white_d.png);
}

QPushButton#Restart_button
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          4px;
   image:            url(:/pixmaps/dark-restart.png);
}
QPushButton#Restart_button:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-restart_white.png);
}
QPushButton#Restart_button:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-restart.png);
}
QPushButton#Restart_button:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-restart_white.png);
}

QPushButton#Cue_set_button1
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          3px;
   image:            url(:/pixmaps/dark-cue_set_1.png);
}
QPushButton#Cue_set_button1:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-cue_set_1_white.png);
}
QPushButton#Cue_set_button1:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-cue_set_1.png);
}
QPushButton#Cue_set_button1:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-cue_set_1_white.png);
}

QPushButton#Cue_play_button1
{
   background-color: gray;
   border:           none;
   border-radius:    0px;
   padding:          3px;
   image:            url(:/pixmaps/dark-cue_play_1.png);
}
QPushButton#Cue_play_button1:hover
{
   background-color: transparent;
   border:           1px solid orange;
   color:            #f2f2ed;
   image:            url(:/pixmaps/dark-cue_play_1_white.png);
}
QPushButton#Cue_play_button1:pressed
{
   color:            black;
   background-color: lightGray;
   image:            url(:/pixmaps/dark-cue_play_1.png);
}
QPushButton#Cue_play_button1:checked
{
   background-color: gray;
   border:           1px solid orange;
   image:            url(:/pixmaps/dark-cue_play_1_white.png);
}
QLabel#Cue_point_label
{
    border: 1px solid gray;
    color:  gray;
    font:   7pt;
}

QMessageBox
{
   dialogbuttonbox-buttons-have-icons: true;
   messagebox-question-icon:           url(:/pixmaps/dark-help_white.png);
   messagebox-critical-icon:           url(:/pixmaps/dark-error_white.png);
}

QSplitter::handle
{
    border: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
}

QScrollBar:vertical {
    border     : 1px solid grey;
    background : transparent;
    width      : 15px;
    margin     : 15px 0 15px 0;
}
QScrollBar::handle:vertical {
    border     : 1px solid black;
    background : lightGray;
    min-height : 20px;
}
QScrollBar::add-line:vertical {
    border              : 1px solid grey;
    background          : grey;
    height              : 13px;
    subcontrol-position : bottom;
    subcontrol-origin   : margin;
}
QScrollBar::sub-line:vertical {
    border              : 1px solid grey;
    background          : grey;
    height              : 13px;
    subcontrol-position : top;
    subcontrol-origin   : margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border     : 1px solid grey;
    width      : 3px;
    height     : 3px;
    background : lightGray;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background : none;
}


QScrollBar:horizontal {
     border     : 1px solid grey;
     background : transparent;
     height     : 15px;
     margin     : 0px 15px 0 15px;
}
QScrollBar::handle:horizontal {
    border     : 1px solid black;
    background : lightGray;
    min-width  : 20px;
}
QScrollBar::add-line:horizontal {
    border              : 1px solid grey;
    background          : grey;
    width               : 13px;
    subcontrol-position : right;
    subcontrol-origin   : margin;
}
QScrollBar::sub-line:horizontal {
    border              : 1px solid grey;
    background          : grey;
    width               : 13px;
    subcontrol-position : left;
    subcontrol-origin   : margin;
}
QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    border     : 1px solid grey;
    width      : 3px;
    height     : 3px;
    background : lightGray;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background : none;
}


QFrame#Horizontal_line {
    color : gray;
}
